@import 'variables.scss';

.btn {
  padding: $padding $padding*2;
  background: rgb(85, 196, 34);
  color: #ffffff;
  border: 0;
  border-radius: $radius;
  outline: none;
  cursor: pointer;
  &:hover {
    background: rgb(113, 194, 38);
  }
}